.a-container{
    max-width: 940px;
    margin:0 auto;
}
svg[xmlns="http://www.w3.org/2000/svg"]{
    cursor: pointer;
}

body{
    background-color: #f1f1f1;
    margin:0;
    padding: 0;
}

.m-auto{
    margin-left:auto;
    margin-right:auto;
}

.center-text{
    text-align:center;
}
